<div class="headerwrap" data-spy="scroll" data-offset="0" data-target="#nav">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-12">
                <img class="img-circle" src="./images/formal.jpg">
                <h1>Shrikant S Kakarparthi</h1>
                <h3>Web Developer | shrikant.kakaraparthi@mavs.uta.edu</h3>
            </div><!--/.col-lg-12 -->
        </div><!--/.row -->
    </div><!--/.container -->
</div><!--/.headerwrap -->
    
<section id="about" name="about">
    <div id="intro">
        <div class="container">
            <div class="row">
                    
                <div class="col-lg-2 col-lg-offset-1">
                    <h5>ABOUT</h5>
                </div>
                <div class="col-lg-6">
                <p>I'm a web developer with 3.5 years of professional experience in front-end development. I love learning new programming languages. My favourite technologies are JavaScript and Ruby on Rails. <br/><br/> Five years from now I'd like to see myself as a UI Architect helping companies architect heavy-client applications.</p>
                </div>
                <div class="col-lg-3">
                    <p><a href="./resumes/Resume.docx" download><i class="icon-file"></i><sm>DOWNLOAD RESUME'</sm></a></p>
                </div>
                    
            </div><!--/.row -->
        </div><!--/.container -->
    </div><!--/ #intro -->
</section>
