<div class="headerwrap" data-spy="scroll" data-offset="0" data-target="#nav">
    <section name="about">
	    <div id="contact" style="color:white;">
	        <div class="container">
	            <div class="row">       
	                <div class="col-lg-2">
	                    <h3>CONTACT</h3><br/>
	                </div>
	                <div class="col-lg-6 pull-left">
	                    <form>
						  <div class="form-group">
						    <label for="subject">Subject</label>
						    <input type="text" class="form-control" id="subject" placeholder="Hello Shrikant !">
						  </div>
						  <div class="form-group">
						    <label for="content">Write Something !</label>
						    <textarea class="form-control" rows="8" id="content" placeholder="Loved your profile ! I've got a gr8 opportunity for you ..."></textarea>
						  </div>
						  <button type="submit" class="btn btn-default">Send</button>
						</form>
						<br/><br/>
	                </div>
	                <div class="col-lg-4">
	                    <h3>Find me at : 430 W La Villita Blvd, Irving, Texas - 75039</h3>
	               
	                    <h3>shrikant.kakaraparthi@mavs.uta.edu</h3>
	                    
	                    <h3>(682) - 226 - 5768</h3>
	           
	                    <h3><a href="https://www.linkedin.com/in/shrikantsarma" target="_blank">linkedin.com/in/shrikantsarma</a></h3>
	                </div>     
	            </div><!--/.row -->
	        </div><!--/.container -->
	    </div><!--/ #contact -->
	</section>
</div><!--/.headerwrap -->