<div class="headerwrap" data-spy="scroll" data-offset="0" data-target="#nav">
    <div class="container">
        <div class="row centered">
           <div class="col-lg-2 col-lg-offset-1">
                    <h3>EDUCATION</h3>
                </div>
                <div class="col-lg-6">
                   <h3><p><t>Master of Science in Computer Science and Engineering</t><br/>
                                    University of Texas at Arlington <br/></p></h3>
                </div>
                <div class="col-lg-3">
                   <h3><p><t>GRADUATING IN JULY 2016</t><br/>
                              <imp>IN PROGRESS</imp></p></h3>
                </div>
        </div><!--/.row -->
    </div><!--/.container -->
</div><!--/.headerwrap -->
    
<section name="about">
    <div id="courses">
        <div class="container">
            <div class="row">
                    
                <div class="col-lg-2 col-lg-offset-1">
                    <h3 style="color:white;">COURSES</h3><br/>
                </div>
                <div class="col-lg-6">
                        <h5>Software Engineering I: Analysis, Design and Testing</h5>
                        <h5>Software Engineering II: Management, Maintenance and QA</h5>
                        <h5>Project Management</h5>
                        <h5>Databases I</h5>
                        <h5>Web Data Management and XML</h5>
                        <h5>Cloud Computing</h5>
                        <h5>Design and Analysis of Algorithms</h5>
                        <h5>Distributed Systems</h5>
                        <h5>Software Metrics &amp; Quality Engineering</h5>
                        <h5>Health Informatics</h5>
                        <h5>Special Topics in Advanced Information Security</h5>
                        <h5>High Speed Networks and Internet: Performance and QoS</h5>
                </div>
                <div class="col-lg-3">
                        <h3 style="color:white;">36 Credits</h3>
                        <h3 style="color:white;">Majoring in Software Engineering &amp; Databases</h3>
                </div>
                    
            </div><!--/.row -->
        </div><!--/.container -->
    </div><!--/ #intro -->
</section>