<section class="headerwrap" style="background-color: #2C3F1E;" data-spy="scroll" data-offset="0" data-target="#nav" name="about">
    <div class="container">
        <div class="row centered">
          <p class="centered"><font style="color: #ffffff;font-size: large;">Some clients that I had the pleasure to working for.</font></p><br/><br/>
          <div class="col-lg-4">
            <img src="./images/microsoft.png" alt="Microsoft" class="img-size">
          </div>
          <div class="col-lg-4">
            <img src="./images/abbott.png" alt="Abbott" class="img-size">
          </div>
          <div class="col-lg-4">
            <img src="./images/lenovo.png" alt="Lenovo" class="img-size">
          </div>
        </div><!--/row-->
        <div class="row centered">
            <div class="col-lg-4">
              <img src="./images/electronic_arts.png" alt="Electronic Arts" class="img-size">
            </div>
            <div class="col-lg-4">
              <img src="./images/meridium.png" alt="Meridium" class="img-size">
            </div>
            <div class="col-lg-4">
              <img src="./images/school_improvement_network.png" alt="School Improvement Network" class="img-size">
            </div>
        </div>
      </div><!--/container-->
    </div><!--/.G-->
</section>
<section>
     <div id="projects">
        <div class="container">
            <div class="row">   
                <div class="col-lg-4">
                    <h5>PROFESSIONAL EXPERIENCE</h5>
                </div>
                <div class="col-lg-8">
                <p>Built the front-end for 'Asset Safety Module' in ‘Asset Performance Management’ tool using Knockout.js for Meridium Inc.<br/>
                  <i class="icon-tag">&nbsp;</i>Knockout.js&nbsp;
                  <i class="icon-tag">&nbsp;</i>.NET Web Services&nbsp;
                  <i class="icon-tag">&nbsp;</i>TFS&nbsp;
                  <i class="icon-tag">&nbsp;</i>MVVM Implementation&nbsp;
                  <i class="icon-tag">&nbsp;</i>Microsoft SQL Server&nbsp;
                </p>  
                <hr>
                </div>
            </div><!--/.row -->
            <div class="row">   
                <div class="col-lg-4"></div>
                <div class="col-lg-8">
                <p>Coded rules for a web tagging framework in JavaScript at [24]7 Customer Care Inc. for Lenovo to gain insights about site visitors. <br/>
                  <i class="icon-tag">&nbsp;</i>JavaScript&nbsp;
                  <i class="icon-tag">&nbsp;</i>jQuery&nbsp;
                  <i class="icon-tag">&nbsp;</i>SVN&nbsp;
                  <i class="icon-tag">&nbsp;</i>Microsoft SQL Server&nbsp;
                </p>
                <hr>
                </div>
            </div><!--/.row -->
            <div class="row">   
                <div class="col-lg-4"></div>
                <div class="col-lg-8">
                <p>Built several modules for a product called 'Respond', which is a social networking site for school teachers, using Backbone.js and Node.js server.<br/>
                  <i class="icon-tag">&nbsp;</i>Backbone.js&nbsp;
                  <i class="icon-tag">&nbsp;</i>Backbone-Marionette.js&nbsp;
                  <i class="icon-tag">&nbsp;</i>Node.js&nbsp;
                  <i class="icon-tag">&nbsp;</i>Express.js&nbsp;
                  <i class="icon-tag">&nbsp;</i>Mocha&nbsp;
                  <i class="icon-tag">&nbsp;</i>Should.js&nbsp;
                  <i class="icon-tag">&nbsp;</i>Jasmine&nbsp;
                  <i class="icon-tag">&nbsp;</i>MongoDB&nbsp;
                  <i class="icon-tag">&nbsp;</i>Twitter Bootstrap&nbsp;
                  <i class="icon-tag">&nbsp;</i>Test Driven Development&nbsp;
                  <i class="icon-tag">&nbsp;</i>GitHub&nbsp;
                  <i class="icon-tag">&nbsp;</i>MV* Implementation&nbsp;
                </p>
                <hr>
                </div>
            </div><!--/.row -->
            <div class="row">   
                <div class="col-lg-4"></div>
                <div class="col-lg-8">
                <p>Built several HTML5 based sales reports for 'Global Marketing Operations' team for Microsoft. Several visualization components like charts, grids, filters were used.<br/>
                  <i class="icon-tag">&nbsp;</i>JavaScript&nbsp;
                  <i class="icon-tag">&nbsp;</i>jQuery&nbsp;
                  <i class="icon-tag">&nbsp;</i>.NET Web Services&nbsp;
                  <i class="icon-tag">&nbsp;</i>SVN&nbsp;
                  <i class="icon-tag">&nbsp;</i>Microsoft SQL Server&nbsp;
                </p>
                <hr>
                </div>
            </div><!--/.row -->
            <div class="row">   
                <div class="col-lg-4"></div>
                <div class="col-lg-8">
                <p>Built a sales application using ExtJS, Google Maps and server side PHP for Abbott's sales team. Application was tested on iPad.<br/>
                  <i class="icon-tag">&nbsp;</i>ExtJS&nbsp;
                  <i class="icon-tag">&nbsp;</i>JavaScript&nbsp;
                  <i class="icon-tag">&nbsp;</i>jQuery&nbsp;
                  <i class="icon-tag">&nbsp;</i>PHP 3.0&nbsp;
                  <i class="icon-tag">&nbsp;</i>SVN&nbsp;
                  <i class="icon-tag">&nbsp;</i>MySQL&nbsp;
                </p>
                <hr>
                </div>
            </div><!--/.row -->
            <div class="row">   
                <div class="col-lg-4"></div>
                <div class="col-lg-8">
                <p>Built a project management tool for Mu Sigma using Adobe Flex and JAVA using BlazeDS framework.<br/>
                  <i class="icon-tag">&nbsp;</i>Adobe Flex&nbsp;
                  <i class="icon-tag">&nbsp;</i>ActionScript 3.0&nbsp;
                  <i class="icon-tag">&nbsp;</i>JAVA&nbsp;
                  <i class="icon-tag">&nbsp;</i>BlazeDS integration framework&nbsp;
                  <i class="icon-tag">&nbsp;</i>SVN&nbsp;
                  <i class="icon-tag">&nbsp;</i>MySQL&nbsp;
                </p>
                <hr>
                </div>
            </div><!--/.row -->
            <div class="row">   
                <div class="col-lg-4"></div>
                <div class="col-lg-8">
                <p>Built an Admin module for a product called 'MOMO' using Play 2.0 framework and MySQL for Mu Sigma.<br/>
                  <i class="icon-tag">&nbsp;</i>Play 2.0&nbsp;
                  <i class="icon-tag">&nbsp;</i>MySQL&nbsp;
                  <i class="icon-tag">&nbsp;</i>SVN&nbsp;
                </p>
                <hr>
                </div>
            </div><!--/.row -->
            <div class="row">   
                <div class="col-lg-4"></div>
                <div class="col-lg-8">
                <p>Worked on several iPad gaming applications like Magic the Gathering, NBA Live 11, Sims 3 Ambitions,  Command and Conquer 4 at Electronic Arts. Tested applications for several functional, graphical and game crash issues. Tested several game flows for bugs and reported them. Developed several checklists and test plans prior to testing phase.<br/>
                  <i class="icon-tag">&nbsp;</i>Manual Testing&nbsp;
                  <i class="icon-tag">&nbsp;</i>Test Plans&nbsp;
                  <i class="icon-tag">&nbsp;</i>Testing Checklists&nbsp;
                  <i class="icon-tag">&nbsp;</i>Bugzilla&nbsp;
                </p>
                <hr>
                </div>
            </div><!--/.row -->
        </div><!--/.container -->
    </div><!--/ #projects --> 
</section>