<section class="headerwrap" style="background-color: #2c3e50;"  data-spy="scroll" data-offset="0" data-target="#nav" name="about">
<!--SKILLS DESCRIPTION -->
    <div id="skillswrap">
        <div class="container">
            <div class="row">
                    <div class="col-lg-2 col-lg-offset-1">
                        <h3>SKILLS</h3>
                    </div>
                    <div class="col-lg-3 centered">
                        <canvas id="html5" height="130" width="130"></canvas>
                        <p>HTML 5</p>
                        <br>
                        <script>
                            var doughnutData = [
                                    {
                                        value: 70,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 30,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("html5").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 centered">
                        <canvas id="css3" height="130" width="130"></canvas>
                        <p>CSS 3.0</p>
                        <br>
                        <script>
                            var doughnutData = [
                                    {
                                        value: 70,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 30,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("css3").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 centered">
                        <canvas id="css_scripting" height="130" width="130"></canvas>
                        <p>LESS / SASS / SCSS</p>
                        <br>
                        <script>
                            var doughnutData = [
                                    {
                                        value: 60,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 40,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("css_scripting").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    
                    <div class="col-lg-3 col-lg-offset-3 centered">
                        <canvas id="twitter_bootstrap" height="130" width="130"></canvas>
                        <p>Twitter Bootstrap 2.0 / 3.0</p>
                        <br>
                        <script>
                            var doughnutData = [
                                    {
                                        value: 70,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 30,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("twitter_bootstrap").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 centered">
                        <canvas id="javascript" height="130" width="130"></canvas>
                        <p>JavaScript</p>
                        <br>
                        <script>
                            var doughnutData = [
                                    {
                                        value: 70,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 30,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 centered">
                        <canvas id="jquery" height="130" width="130"></canvas>
                        <p>JQuery</p>
                        <br>
                        <script>
                            var doughnutData = [
                                    {
                                        value: 70,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 30,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("jquery").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 col-lg-offset-3 centered">
                        <canvas id="knockout" height="130" width="130"></canvas>
                        <p>Knockout.js</p>
                        <br>
                        <script>
                            var doughnutData = [
                                    {
                                        value: 65,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 35,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("knockout").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 centered">
                        <canvas id="backbone" height="130" width="130"></canvas>
                        <p>Backbone.js / Backbone-Marionette.js</p>
                        <br>
                        <script>
                            var doughnutData = [
                                    {
                                        value: 60,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 40,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("backbone").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 centered">
                        <canvas id="node" height="130" width="130"></canvas>
                        <p>Node.js / Express.js</p>
                        <br>
                        <script>
                            var doughnutData = [
                                    {
                                        value: 60,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 40,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("node").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 col-lg-offset-3 centered">
                        <canvas id="jasmine" height="130" width="130"></canvas>
                        <p>Jasmine / Mocha / Should.js</p>
                        <br>
                        <script>
                            var doughnutData = [
                                    {
                                        value: 60,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 40,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("jasmine").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 centered">
                        <canvas id="extjs" height="130" width="130"></canvas>
                        <p>Ext.js</p>
                        <br>
                        <script>
                            var doughnutData = [
                                    {
                                        value: 55,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 45,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("extjs").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 centered">
                        <canvas id="java" height="130" width="130"></canvas>
                        <p>JAVA</p>
                        <br>
                        <script>
                            var doughnutData = [
                                    {
                                        value: 70,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 30,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("java").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 col-lg-offset-3 centered">
                        <canvas id="ror" height="130" width="130"></canvas>
                        <p>Ruby on Rails</p>
                        <br>
                        <script>
                            var doughnutData = [
                                    {
                                        value: 70,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 30,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("ror").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 centered">
                        <canvas id="sql" height="130" width="130"></canvas>
                        <p>SQL</p>
                        <br>
                        <script>
                            var doughnutData = [
                                    {
                                        value: 80,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 20,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("sql").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 centered">
                        <canvas id="android" height="130" width="130"></canvas>
                        <p>Android</p>
                        <br>
                        <script>
                            var doughnutData = [
                                    {
                                        value: 60,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 40,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("android").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 col-lg-offset-3 centered">
                        <canvas id="php" height="130" width="130"></canvas>
                        <p>PHP 5.0</p>
                        <br>
                        <script>
                            var doughnutData = [
                                    {
                                        value: 50,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 50,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("php").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 centered">
                        <canvas id="python" height="130" width="130"></canvas>
                        <p>Python 3.0 / Flask MVC Framework</p>
                        <br>
                        <script>
                            var doughnutData = [
                                    {
                                        value: 50,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 50,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("python").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 centered">
                        <canvas id="mongodb" height="130" width="130"></canvas>
                        <p>MongoDB</p>
                        <br>
                        <script>
                            var doughnutData = [
                                    {
                                        value: 65,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 35,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("mongodb").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 col-lg-offset-3 centered">
                        <canvas id="mysql" height="130" width="130"></canvas>
                        <p>MySQL</p>
                        <br>
                        <script>
                            var doughnutData = [
                                    {
                                        value: 80,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 20,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("mysql").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 centered">
                        <canvas id="flex" height="130" width="130"></canvas>
                        <p>Adobe Flex / ActionScript 3.0</p>
                        <br>
                        <script>
                            var doughnutData = [
                                    {
                                        value: 50,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 50,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("flex").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 centered">
                        <canvas id="play" height="130" width="130"></canvas>
                        <p>Play 2.0 / Akka / Scala (Typesafe stack)</p>
                        <br>
                        <script>
                            var doughnutData = [
                                    {
                                        value: 50,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 50,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("play").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 col-lg-offset-3 centered">
                        <canvas id="repo" height="130" width="130"></canvas>
                        <p>SVN / GitHub / TFS (Repositories)</p>
                        <br>
                        <script>
                            var doughnutData = [
                                    {
                                        value: 80,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 20,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("repo").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 centered">
                        <canvas id="arch" height="130" width="130"></canvas>
                        <p>MVC / MVVM / MV* / RESTful implementations</p>
                        <br>
                        <script>
                            var doughnutData = [
                                    {
                                        value: 70,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 30,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("arch").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <div class="col-lg-3 centered">
                        <canvas id="tdd" height="130" width="130"></canvas>
                        <p>AGILE SCRUM and Test Driven Development (TDD)</p>
                        <br>
                        <script>
                            var doughnutData = [
                                    {
                                        value: 60,
                                        color:"#1abc9c"
                                    },
                                    {
                                        value : 40,
                                        color : "#ecf0f1"
                                    }
                                ];
                                var myDoughnut = new Chart(document.getElementById("tdd").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
            </div><!--/.row -->
            <br>
        </div><!--/.container -->
    </div><!--/ #intro -->
</section>